<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminPanel</title>
    <link rel="stylesheet" href="/css/admin/adminDashboard.css" type="text/css">
</head>
<body>
    <section class="adminPage">
        <aside class="adminBar">
            <a href="/Admin/AdminSettings">Settings</a>
            <a href="/Admin/Tickets">Tickets</a>
            <a href="/Admin/Users">Users</a>
            <a href="/Admin/CheckIn">CheckIn</a>
            <a href="/Admin/Analytics">Analytics</a>
        </aside>

        <section class="admin">
            <h1>Webit</h1>
        </section>
    </section>
</body>
</html>