<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminPanel</title>
    <link rel="stylesheet" href="/css/admin/adminDashboard.css" type="text/css">
</head>
<body>
    <section class="adminPage">
        <aside class="adminBar">
            <a href="">Settings</a>
            <a href="">Events</a>
            <a href="">Tickets</a>
            <a href="">Users</a>
            <a href="">Scanner</a>
            <a href="">Registration</a>
            <a href="">CheckIn</a>
            <a href="">Analytics</a>
        </aside>

        <section class="admin">
            <h1>Webit</h1>
        </section>
    </section>
</body>
</html>