@model TicketViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
</head>
<body>
    <div class="nav-item">
        <a class="text-monospace">First Name: @Model.FirstName</a>
    </div>
    <br />
    <div class="nav-item">
        <a class="text-monospace">Last Name: @Model.LastName</a>
    </div>
    <br />
    <div class="nav-item">
        <a class="text-monospace">Company: @Model.CompanyName</a>
    </div>
    <br />
    <div class="nav-item">
        <a class="text-monospace">Tag: @Model.Tags</a>
    </div>
    <br />

    <button id="print">Print</button>
</body>
</html>
