<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/indexstyle.css">
    <script src="https://kit.fontawesome.com/df3fd09ff3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="/lib/a1.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/adobe.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/akamai.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/bayer.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/cisko.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/generali.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/huawei.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/ibm.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/mastercard.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/microsoft.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/neilsen.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/qualcom.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/sap.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/siemens.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/softlayer.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/telus.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/lib/visa.png" height="100" width="250" alt="" />
                </div>
            </div>
        </div>
    </header>
    <div class="buttonsArticle">
        <button id="checkInButton" class="btn btn-primary">Check-In</button>
        <button id="registrationsButton" class="btn btn-primary">Registrations</button>
    </div>

    <div>
        <button id="settings" class="settings"><i class="fa-solid fa-gear"></i></button>
    </div>

    <script>
        document.getElementById("checkInButton").addEventListener("click", function () {
            window.location.href = "@Url.Action("CheckIn", "Home")";
        });

        document.getElementById("settings").addEventListener("click", function () {
            window.location.href = "@Url.Action("Settings", "Admin")";
        });
    </script>
</body>
</html>